
*{
    font-family: 'Josefin Sans', 'Sans';
    font-size: 18px;
}

/* Body, Center */
body{
    background-image: url(images/bg-desktop-light.jpg);
    background-color: hsl(0, 0%, 98%);
    background-repeat: no-repeat;
    background-position: center;
    font-weight: 400;
}

.centerDiv{
    display: grid ;
    justify-content: center;
    align-items: center;
}


/* Container TODO */

#TODO{
    color:hsl(0, 0%, 98%);
    font-weight: 700;
    letter-spacing: 15px;
    font-size: 40px;
    width: fit-content;
}

#containerTodo{
    display: flex;
    display: -webkit-flex;
    column-gap: 50%;
}

/* New TODO */
#containerNewTodo{
    background-color: hsl(0, 0%, 98%);
    padding: 15px;
    border-radius: 8px;
    display: flex;
    column-gap: 20px;
}

#newTodo{
    background-color: transparent;
    border: none;
}

#newTodo:focus{
    outline: none;
    caret-color: hsl(220, 98%, 61%);
}

.btn-check{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-color: hsl(236, 33%, 92%);
    border-style: solid;
    border-width: 2px;
    cursor:pointer;
}

.btn-check:hover{
  border:2px solid transparent;
  border-radius:50px;
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient( hsl(192, 100%, 67%) ,hsl(280, 87%, 65%)) border-box;

}

/* Todo List */



/* Buttons */

.clear{
    background-color: transparent;
    border: none;
    cursor: pointer;
}


#footer{
    position:absolute;
    bottom:0;
    height:60px; 
}

@media (max-width: 1920px) {

    body{
        background-size: cover;
    }

}


@media (max-width: 1440px){

   
}


@media (max-width: 575px) {

   
}

@media (max-width: 375px) {



}